{% extends "base_bootstrap.html" %}

{% block content %}
  <!-- <h1>Breed List</h1>
  {% if breeds_list %}
	<ul>
	
	</ul>
  {% else %}
    <p>There are no breed in the library.</p>
  {% endif %} -->
  {% for breed in breeds %}
	  <li>
	      {{ breed.name }}
	     (<a href="{% url 'breed_update' breed.id %}">Update</a> |
	      <a href="{% url 'breed_delete' breed.id %}">Delete</a>)
	  </li>
	{% endfor %}
  <p><a href="{% url 'breed_create' %}">Add a breed</a></p>
  <p>
    <a href="{% url 'all-cat' %}">Back to cats</a>
  </p>
{% endblock %}
