{% extends "base_bootstrap.html" %}
{% block content %}


  	{% for cat in cats %}
   		<li>
   			{{ cat.nickname }} {{ cat.foods }} {{ cat.breed }}
   			(<a href="{% url 'cat_update' cat.id %}">Update</a> |
	      <a href="{% url 'cat_delete' cat.id %}">Delete</a>)
   		</li>
     	
     	
      
    {% endfor %}
   <br>
   <a href="{% url 'cat_create' %}">Add a cat</a><br>
    <a href="{% url 'breed_create' %}">Add a breed</a>
    <a href="{% url 'all_breed' %}">View breeds</a>
  
{% endblock %}